<!-- templates/usuarios/lista_usuarios.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Lista de Usuarios</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre de usuario</th>
                <th>Nombre completo</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.first_name }} {{ usuario.last_name }}</td>
                <td>{{ usuario.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
