{% load static %}
{% include 'correspondencia_app/navbar.html' %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Mi Gestor de Correspondencia{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body class="{% if request.path == '/' %}dashboard-bg{% else %}inner-bg{% endif %}">
  {% include 'correspondencia_app/navbar.html' %}

  <div class="container-fluid py-4">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
