{% extends "correspondencia_app/base.html" %}
{% load static %}

{% block content %}
  <div class="container mt-4">
    <h2>{% if edit %}Editar Entrada{% else %}Nueva Entrada{% endif %}</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}  {# incluye ahora el selector de gestor #}
      <button type="submit" class="btn btn-primary">
        {% if edit %}Guardar cambios{% else %}Crear entrada{% endif %}
      </button>
      <a href="{% url 'correspondencia_app:entrada_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
{% endblock %}