{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h2 class="mb-4">{{ view.object|yesno:"Editar entrada,Nueva entrada" }}</h2>
  <form method="post" enctype="multipart/form-data" class="row g-3">
    {% csrf_token %}
    <div class="col-md-6">
      {{ form.as_p }}
    </div>
    <div class="col-12 text-end">
      <button type="submit" class="btn btn-primary">
        Guardar
      </button>
      <a href="{% url 'correspondencia_app:entrada_list' %}" class="btn btn-secondary">
        Cancelar
      </a>
    </div>
  </form>
{% endblock %}
