{% extends 'correspondencia_app/base.html' %}
{% block title %}Imágenes{% endblock %}

{% block content %}
  <h2>Imágenes Subidas</h2>
  <a href="{% url 'correspondencia_app:image_upload' %}" class="btn btn-primary mb-3">Subir Imagen</a>
  <div class="row">
    {% for img in images %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{{ img.imagen.url }}" class="card-img-top">
          <div class="card-body">
            <small class="text-muted">{{ img.uploaded_at }}</small>
          </div>
        </div>
      </div>
    {% empty %}
      <p>No hay imágenes.</p>
    {% endfor %}
  </div>
{% endblock %}
