{% extends 'correspondencia_app/base.html' %}

{% block content %}
<h2>Correspondencia Entrante</h2>
<a class="btn btn-primary mb-3" href="{% url 'crear_entrada' %}">Registrar nueva entrada</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Documento</th>
            <th>Fecha</th>
            <th>Remitente</th>
            <th>Asunto</th>
        </tr>
    </thead>
    <tbody>
        {% for entrada in entradas %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ entrada.numero_documento }}</td>
            <td>{{ entrada.fecha_recepcion }}</td>
            <td>{{ entrada.remitente }}</td>
            <td>{{ entrada.asunto }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
