{% extends "correspondencia_app/base.html" %}
{% block content %}
<h2>Iniciar sesión</h2>
{% if error %}<div class="alert alert-danger">{{ error }}</div>{% endif %}
<form method="post">{% csrf_token %}
  <div class="mb-3">
    <label>Usuario</label>
    <input name="username" class="form-control">
  </div>
  <div class="mb-3">
    <label>Contraseña</label>
    <input name="password" type="password" class="form-control">
  </div>
  <button class="btn btn-primary">Entrar</button>
</form>
{% endblock %}
