{% extends 'correspondencia_app/base.html' %}
{% block title %}Registrar Salida{% endblock %}

{% block content %}
<h4 class="mb-4">Nueva Correspondencia de Salida</h4>

<form method="POST" enctype="multipart/form-data" class="card p-4 shadow-sm">
  {% csrf_token %}
  {{ form.as_p }}
  <div class="mt-3">
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="{% url 'correspondencia_app:salida_list' %}" class="btn btn-secondary">Cancelar</a>
  </div>
</form>
{% endblock %}
